# Configurações do Banco de Dados
DB_HOST=179.199.128.219
DB_PORT=3306
DB_NAME=chatterhubdb
DB_USER=razza-chatterhubDB
DB_PASSWORD=sua_senha_do_banco_aqui

# Configurações de E-mail (Gmail)
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_senha_de_app_aqui
